   .nav{
        width: 100%;
        margin: auto 0;
        overflow: auto;
        
        
        
    }

    #navbar{
        background-color: rgb(87, 46, 46);
    }

   
    header::after{
        content: '';
        display: table;
        clear: both;
       
    }

    nav #ul-6{
        list-style: none;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    
    }

    nav li {
        display: inline-block;
      
        margin-left: .8rem;
        padding: 8px;
        
        
    }

    

    #navbar a {
        color: white;
        font-weight: 300;
        box-shadow: none;
        width: 25%;
        
        
    }

    .nav-item{
        font-size: 1.9rem;
        font-weight: 300;
    }

   nav{
       float:inline-start-;
       display: flex;
       justify-content: space-between;
      
       
    }

    nav a:hover {
        color: black;
    }
    
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    height: 4.0rem;
}

nav #ul-7{
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

}


@media screen and (max-width: 500px) {
    #navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }


